/stimuli/*
/include/config.php
/setup/mysql/gupsych.sql
images/linearicons/0*
/images/linearicons/1*
/images/linearicons-premium
/include/css/fonts/Linearicons.ttf
/setup/mysql/gupsych.sql
/setup/mysql/mcnee.sql
/res/tutorial/movies/*
